extends layout

block content

  #main
    #header
      h2 Basic DataGrid
      p Welcome to #{title}

    #targetFrmDiv(style="display:none;position: relative; left:-180px;width: 110%;")
    #menuTab(style="position:fixed;left:165px;top:10px;display:inline-flex;")
    #orgFrmDiv(style="display:none;")
      iframe(name="targetFrm" frameborder=0)
    #orgNavDiv(style="display:none;")
      div(style="cursor:pointer;margin-left:5px;height:20px;width:145px;background-color:#ffffff;padding:3px 5px 0px 5px")
      img(src="/images/ico_del.gif" alt="닫기" style="cursor:pointer;")

    #content
      #container contents area

  script(src="/js/main.js")