extends include/layout

block content
  script(src="/js/kiosk.js")
  #header
  h2 #{title}

  #main
    #content  
      input.button-warning.pure-button(type="button" name="btn1" value="저장")
      span 123
      input.button-warning.pure-button(type="button" name="btn2" value="수정")
      span 123
      input.pure-button(type="button" name="btn3" value="삭제")
      div(style='margin:20px 0;')
      table#dg.easyui-datagrid(title='Basic DataGrid' style='width:100%;min-width:700px;height:300px' 
        data-options="noheader:true,pagination:true,singleSelect:true,collapsible:true,url:'/store/kiosk',method:'get'")
        thead
          tr
            th(data-options="field:'groupID'") groupID
            th(data-options="field:'storeID'") storeID
            th(data-options="field:'kioskID'") kioskID
            th(data-options="field:'IP'") IP
            th(data-options="field:'Active'") Active
            th(data-options="field:'onoff'") onoff
            th(data-options="field:'createDate'") createDate
            th(data-options="field:'updateDate'") updateDate

    #myModal.modal.hide.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-header
        h1#myModalLabel A Bootstrap Modal with Pure
      .modal-body
        p
          | This modal is launched by including
          em just
          |  the
          code modal.css
          |  and
          code modal.js
          |  file from Bootstrap, and including Pure to drive all low-level styles. The result is a fully-functional Modal using just a fraction of the CSS.
        form.pure-form.pure-form-stacked
          legend A Stacked Form
          label(for='email') Email
          input#email(type='text' placeholder='Email')
          label(for='password') Password
          input#password(type='password' placeholder='Password')
          label(for='state') State
          select#state
            option AL
            option CA
            option IL
          label.pure-checkbox
            input(type='checkbox')
            |  Remember me
      .modal-footer
        button.pure-button(data-dismiss='modal' aria-hidden='true') Close
        button.pure-button.pure-button-primary Submit
