extends include/layout

block content
  #header
  h2 #{title}

  #main
    #content  

      table
        colgroup
          col(width="300")
          col(width="400")
          col(width="600")
        tr
          td(style="vertical-align:top;border-right:1px solid #cfcfcf;")
            ul#menu1
          td(style="vertical-align:top;border-right:1px solid #cfcfcf;padding-left:20px;")
            h3 Menu Item


          td(style="vertical-align:top;padding-left:20px;")
            h3 Item
              table.pure-table.pure-table-bordered
                colgroup
                  col(width="50")
                  col(width="350")
                thead
                  tr
                    th ID
                    th Name
                  tbody.result

                  
      script(src="/js/common.menugroup.js")
      script(src="/js/menuitem.js")