.pure-menu
  a.pure-menu-heading(href='#') PB-Store
  ul.pure-menu-list
    li.pure-menu-item
      a.pure-menu-link(href='#') Home
    li.pure-menu-item
      a.pure-menu-link(href='#') About
    li.pure-menu-item.menu-item-divided
      .menu-list-title &#xCEE4;&#xBBA4;&#xB2C8;&#xD2F0; &#xAD00;&#xB9AC;
      ul.pure-menu-list2
        li.pure-menu-item
          a.pure-menu-link(href='javascript:void(0);' onclick="menuClick('/store', '/store');")
            span /store
        li.pure-menu-item
          a.pure-menu-link(href='javascript:void(0);' onclick="menuClick('/react.jsp', '/react.jsp');")
            span /react.jsp
        li.pure-menu-item
          a.pure-menu-link(href='javascript:void(0);' onclick="menuClick('/view.do', '/view.do');")
            span /view.do
        li.pure-menu-item
          a.pure-menu-link(href='javascript:void(0);' onclick="menuClick('/crudgrid.do', '/crudgrid.do');")
            span /crudgrid.do
    li.pure-menu-item
      a.pure-menu-link(href='#') Contact
